$bg-color: #DAD7CD;
$title-text-color: #423B0B;
$btn-main: #A3B18A;
$text-color: #2E3532;

body {
  background-color: $bg-color; //background-image: url("../background/background.jpg");
}
// Title

.title-text-main {
  color: $title-text-color;
}
// Submit box

#todo__additem,
#todo__submit {
  width: 100%;
}

// Added todo item text
.todo__item{
}


// Main Submit button

.btn-main {
  background-color: $btn-main;
}
//Container for todo items

.toDoDiv {
  color: $text-color;
}
