
$bg-color: #DAD7CD;
$title-text-color:#A3B18A;
$btn-main: #A3B18A;
$text-color:#2E3532;

body{
  background-color:$bg-color;
//background-image: url("../background/background.jpg");


}

.title-text-main{
  color: $title-text-color;
}

.btn-main{

    background-color: $btn-main;
}


#todo__additem, #todo__submit{
  width: 100%;
}


.toDoDiv{
color: $text-color;
}

.todo__task{
  height: 1rem;
}

.todo__img{
  height: 1rem;
  width: 1rem;
}
